#Home img {
  width: 100%;
  filter: grayscale(30%);
  height: 100vh;
  object-fit: fill;
}

#picture {
  position: relative;
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-top: 12%;
  margin-top: 56px;
}

#Home .overlay .container,
#Home .overlay .row {
  height: 100%;
}
